
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587007949814104938.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587007949814104938.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587007949814104938.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587007949814104938.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587007949814104938.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587007949814104938.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587007949814104938.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587007949814104938.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587007949814104938.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587007949814104938.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587007949814104938.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587007949814104938.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587007949814104938.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587007949814104938.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587007949814104938.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587007949814104938.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587007949814104938.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587007949814104938.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587007949814104938.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587007949814104938.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587007949814104938.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587007949814104938.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587007949814104938.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587007949814104938.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587007949814104938.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587007949814104938.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587007949814104938.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587007949814104938.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587007949814104938.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587007949814104938.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587007949814104938.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587007949814104938.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587007949814104938.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587007949814104938.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587007949814104938.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587007949814104938.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587007949814104938.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587007949814104938.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587007949814104938.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587007949814104938.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587007949814104938.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587007949814104938.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587007949814104938.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587007949814104938.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587007949814104938.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-587007949814104938.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587007949814104938.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587007949814104938.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587007949814104938.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587007949814104938.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587007949814104938.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587007949814104938.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587007949814104938.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587007949814104938.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587007949814104938.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587007949814104938.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-587007949814104938.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587007949814104938.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587007949814104938.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587007949814104938.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587007949814104938.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-587007949814104938.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587007949814104938.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587007949814104938.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587007949814104938.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587007949814104938.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-587007949814104938.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587007949814104938.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587007949814104938.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587007949814104938.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587007949814104938.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587007949814104938.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587007949814104938.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587007949814104938.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-587007949814104938.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587007949814104938.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587007949814104938.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587007949814104938 .gp-relative{position:relative}.gps-587007949814104938 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587007949814104938 .gp-mb-0{margin-bottom:0}.gps-587007949814104938 .gp-inline-block{display:inline-block}.gps-587007949814104938 .gp-flex{display:flex}.gps-587007949814104938 .gp-grid{display:grid}.gps-587007949814104938 .gp-contents{display:contents}.gps-587007949814104938 .\!gp-hidden{display:none!important}.gps-587007949814104938 .gp-hidden{display:none}.gps-587007949814104938 .gp-h-auto{height:auto}.gps-587007949814104938 .gp-h-full{height:100%}.gps-587007949814104938 .gp-w-full{width:100%}.gps-587007949814104938 .\!gp-max-w-none{max-width:none!important}.gps-587007949814104938 .gp-max-w-full{max-width:100%}.gps-587007949814104938 .gp-flex-none{flex:none}.gps-587007949814104938 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587007949814104938 .gp-flex-col{flex-direction:column}.gps-587007949814104938 .gp-overflow-hidden{overflow:hidden}.gps-587007949814104938 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-587007949814104938 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587007949814104938 .gp-duration-200{transition-duration:.2s}.gps-587007949814104938 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-587007949814104938 .tablet\:\!gp-hidden{display:none!important}.gps-587007949814104938 .tablet\:gp-hidden{display:none}.gps-587007949814104938 .tablet\:gp-h-auto{height:auto}.gps-587007949814104938 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587007949814104938 .mobile\:\!gp-hidden{display:none!important}.gps-587007949814104938 .mobile\:gp-hidden{display:none}.gps-587007949814104938 .mobile\:gp-h-auto{height:auto}.gps-587007949814104938 .mobile\:gp-flex-none{flex:none}}.gps-587007949814104938 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-587007949814104938 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-587007949814104938 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-587007949814104938 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F2F8F9","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g16DJfzhSI"}' data-id="g16DJfzhSI" id="g16DJfzhSI" data-same-height-subgrid-container class="g16DJfzhSI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F2F8F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3ltGHOe7R gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gU-tnrqu2j"}' data-id="gU-tnrqu2j" id="gU-tnrqu2j" data-same-height-subgrid-container class="gU-tnrqu2j gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:35px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFx8KO8Abc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOfTH86r5r"
        class="gOfTH86r5r"
        style="--ta:left;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919192"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:35px;--size-tablet:46px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOfTH86r5r_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3Pi6IATRX"
        class="g3Pi6IATRX"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919193"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3Pi6IATRX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gElx5gWagy"}' data-id="gElx5gWagy" id="gElx5gWagy" data-same-height-subgrid-container class="gElx5gWagy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:35px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:35px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:35px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:48px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gDj2p-6z-i gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDwYtZT3uM"
        class="gDwYtZT3uM"
        style="--ta:left;--mb:14px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:14px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:5px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919197"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:30px;--size-tablet:46px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDwYtZT3uM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMvXt_EyxP"
        class="gMvXt_EyxP"
        style="--ta:left;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919199"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMvXt_EyxP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gVy4jwmFTZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gGcuSJTPZh" class="gGcuSJTPZh !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--aspect:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gGcuSJTPZh" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/2cd3deb506b54b009063f7270ab5cf2e.mp4" poster data-poster
      style="--aspect:1/1"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/2cd3deb506b54b009063f7270ab5cf2e.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gXU31BMWWD"}' data-id="gXU31BMWWD" id="gXU31BMWWD" data-same-height-subgrid-container class="gXU31BMWWD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:35px;--mb-tablet:35px;--mb-mobile:35px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:49px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gKDDubULXT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gpWVXcqk3X"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1759475919202 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gpWVXcqk3X"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586978430721983033-356b2cd5-fe08-4819-8bc6-96403ea0e030.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTQ1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0idXJsKCNnLTgwMC00NTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586978430721983033-356b2cd5-fe08-4819-8bc6-96403ea0e030.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTQ1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0idXJsKCNnLTgwMC00NTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586978430721983033-356b2cd5-fe08-4819-8bc6-96403ea0e030.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTQ1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0idXJsKCNnLTgwMC00NTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586978430721983033-356b2cd5-fe08-4819-8bc6-96403ea0e030.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g4gxMnPWtq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPuGdo8fLt"
        class="gPuGdo8fLt"
        style="--ta:left;--mb:14px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:14px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919233"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:30px;--size-tablet:46px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPuGdo8fLt_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA74GRUmIu"
        class="gA74GRUmIu"
        style="--ta:left;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919234"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA74GRUmIu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"glflpv7iL1"}' data-id="glflpv7iL1" id="glflpv7iL1" data-same-height-subgrid-container class="glflpv7iL1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:52px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gMSLjRPlfd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gepvq9x_J6"
        class="gepvq9x_J6"
        style="--ta:left;--mb:14px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:14px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919238"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:30px;--size-tablet:46px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggepvq9x_J6_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCQ-FqdssL"
        class="gCQ-FqdssL"
        style="--ta:left;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759475919239"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCQ-FqdssL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_JjKfAPQm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gQbVhk5SC2"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1759475919240 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQbVhk5SC2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586978430721983033-d1aece39-60bd-42de-9e72-ba2690e6e2d3.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586978430721983033-d1aece39-60bd-42de-9e72-ba2690e6e2d3.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_586978430721983033-d1aece39-60bd-42de-9e72-ba2690e6e2d3.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjY3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIGZpbGw9InVybCgjZy0xMjAwLTY3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_586978430721983033-d1aece39-60bd-42de-9e72-ba2690e6e2d3.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnUc93A5XaFWruCVM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893A5XaFWru.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-587007949814104938 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j2mehc-uj/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587004589958497259&sectionId=587007949814104938)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggOfTH86r5r_text","label":"ggOfTH86r5r_text","default":"<span style=\"font-size:33px;\">Obtenez rapidement des cheveux plus épais et plus séduisants</span>"},{"type":"html","id":"gg3Pi6IATRX_text","label":"gg3Pi6IATRX_text","default":"<p>Découvrez les 3 innovations scientifiques qui font la force du système de repousse capillaire AlphaInfuse™</p>"},{"type":"html","id":"ggDwYtZT3uM_text","label":"ggDwYtZT3uM_text","default":"<span style=\"font-size:30px;\"><strong>La recherche&nbsp;scientifique&nbsp;</strong></span><br><span style=\"font-size:30px;\"><strong>révèle&nbsp;la véritable cause&nbsp;de la perte de cheveux</strong></span>"},{"type":"html","id":"ggMvXt_EyxP_text","label":"ggMvXt_EyxP_text","default":"<p><span style=\"font-size:16px;\">Les principaux experts en perte de cheveux ont identifié la cause numéro 1 de la chute des cheveux : <strong>La DHT (dihydrotestostérone)</strong>, une hormone qui attaque silencieusement vos follicules pileux en ce moment même, pendant que vous lisez ces lignes.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Elle crée un <strong>« effet d’étranglement »</strong>, empêchant les nutriments essentiels d’atteindre vos follicules et les affaiblissant progressivement. Privés de ce dont ils ont besoin pour survivre, vos follicules rétrécissent jour après jour jusqu’à disparaître complètement. Ce processus s’accompagne de <strong>signaux d’alerte quotidiens</strong> : chute de cheveux, recul de la ligne capillaire, cheveux clairsemés et zones de cuir chevelu visibles.</span></p>"},{"type":"html","id":"ggPuGdo8fLt_text","label":"ggPuGdo8fLt_text","default":"<span style=\"font-size:30px;\"><strong>La recherche&nbsp;scientifique&nbsp;</strong></span><br><span style=\"font-size:30px;\"><strong>révèle&nbsp;la véritable cause&nbsp;de la perte de cheveux</strong></span>"},{"type":"html","id":"ggA74GRUmIu_text","label":"ggA74GRUmIu_text","default":"<p><span style=\"font-size:16px;\">Les principaux experts en perte de cheveux ont identifié la cause numéro 1 de la chute des cheveux : <strong>La DHT (dihydrotestostérone)</strong>, une hormone qui attaque silencieusement vos follicules pileux en ce moment même, pendant que vous lisez ces lignes.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Elle crée un <strong>« effet d’étranglement »</strong>, empêchant les nutriments essentiels d’atteindre vos follicules et les affaiblissant progressivement. Privés de ce dont ils ont besoin pour survivre, vos follicules rétrécissent jour après jour jusqu’à disparaître complètement. Ce processus s’accompagne de <strong>signaux d’alerte quotidiens</strong> : chute de cheveux, recul de la ligne capillaire, cheveux clairsemés et zones de cuir chevelu visibles.</span></p>"},{"type":"html","id":"ggepvq9x_J6_text","label":"ggepvq9x_J6_text","default":"<span style=\"font-size:30px;\"><strong>La recherche&nbsp;scientifique&nbsp;</strong></span><br><span style=\"font-size:30px;\"><strong>révèle&nbsp;la véritable cause&nbsp;de la perte de cheveux</strong></span>"},{"type":"html","id":"ggCQ-FqdssL_text","label":"ggCQ-FqdssL_text","default":"<p><span style=\"font-size:16px;\">Les principaux experts en perte de cheveux ont identifié la cause numéro 1 de la chute des cheveux : <strong>La DHT (dihydrotestostérone)</strong>, une hormone qui attaque silencieusement vos follicules pileux en ce moment même, pendant que vous lisez ces lignes.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Elle crée un <strong>« effet d’étranglement »</strong>, empêchant les nutriments essentiels d’atteindre vos follicules et les affaiblissant progressivement. Privés de ce dont ils ont besoin pour survivre, vos follicules rétrécissent jour après jour jusqu’à disparaître complètement. Ce processus s’accompagne de <strong>signaux d’alerte quotidiens</strong> : chute de cheveux, recul de la ligne capillaire, cheveux clairsemés et zones de cuir chevelu visibles.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  