
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587005476080714602.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587005476080714602.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587005476080714602.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587005476080714602.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587005476080714602.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587005476080714602.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587005476080714602.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587005476080714602.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587005476080714602.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587005476080714602.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587005476080714602.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587005476080714602.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587005476080714602.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587005476080714602.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587005476080714602.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587005476080714602.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587005476080714602.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587005476080714602.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587005476080714602.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587005476080714602.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587005476080714602.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587005476080714602.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587005476080714602.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587005476080714602.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587005476080714602.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587005476080714602.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587005476080714602.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587005476080714602.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587005476080714602.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587005476080714602.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587005476080714602.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587005476080714602.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587005476080714602.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587005476080714602.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587005476080714602.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587005476080714602.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587005476080714602.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587005476080714602.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587005476080714602.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587005476080714602.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587005476080714602.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587005476080714602.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587005476080714602.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587005476080714602.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587005476080714602.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-587005476080714602.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587005476080714602.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587005476080714602.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587005476080714602.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587005476080714602.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587005476080714602.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587005476080714602.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587005476080714602.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587005476080714602.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587005476080714602.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587005476080714602.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-587005476080714602.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-587005476080714602.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587005476080714602.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587005476080714602.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-587005476080714602.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587005476080714602.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587005476080714602.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587005476080714602.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587005476080714602.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587005476080714602.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587005476080714602.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587005476080714602.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587005476080714602.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587005476080714602.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587005476080714602.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587005476080714602.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587005476080714602.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587005476080714602.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587005476080714602 .gp-relative{position:relative}.gps-587005476080714602 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587005476080714602 .gp-mb-0{margin-bottom:0}.gps-587005476080714602 .gp-inline-block{display:inline-block}.gps-587005476080714602 .gp-flex{display:flex}.gps-587005476080714602 .gp-grid{display:grid}.gps-587005476080714602 .gp-contents{display:contents}.gps-587005476080714602 .\!gp-hidden{display:none!important}.gps-587005476080714602 .gp-hidden{display:none}.gps-587005476080714602 .gp-h-auto{height:auto}.gps-587005476080714602 .gp-h-full{height:100%}.gps-587005476080714602 .gp-w-full{width:100%}.gps-587005476080714602 .gp-max-w-full{max-width:100%}.gps-587005476080714602 .gp-flex-none{flex:none}.gps-587005476080714602 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587005476080714602 .gp-flex-col{flex-direction:column}.gps-587005476080714602 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587005476080714602 .gp-duration-200{transition-duration:.2s}.gps-587005476080714602 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-587005476080714602 .tablet\:\!gp-hidden{display:none!important}.gps-587005476080714602 .tablet\:gp-hidden{display:none}.gps-587005476080714602 .tablet\:gp-h-auto{height:auto}.gps-587005476080714602 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587005476080714602 .mobile\:\!gp-hidden{display:none!important}.gps-587005476080714602 .mobile\:gp-hidden{display:none}.gps-587005476080714602 .mobile\:gp-h-auto{height:auto}.gps-587005476080714602 .mobile\:gp-flex-none{flex:none}}.gps-587005476080714602 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gAuitdcuM4"}' data-id="gAuitdcuM4" id="gAuitdcuM4" data-same-height-subgrid-container class="gAuitdcuM4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYrWHinCco gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gWw-cfZa9r"}' data-id="gWw-cfZa9r" id="gWw-cfZa9r" data-same-height-subgrid-container class="gWw-cfZa9r gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWlqclTA57 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJkm9f-3aX"
        class="gJkm9f-3aX"
        style="--ta:left;--mb:14px;--mb-tablet:14px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759412469000"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:35px;--size-tablet:46px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJkm9f-3aX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGOVAaE8Ly"
        class="gGOVAaE8Ly"
        style="--ta:left;--mb:10px;--mb-tablet:10px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759412469001"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGOVAaE8Ly_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"grcDbi36Ub"}' data-id="grcDbi36Ub" id="grcDbi36Ub" data-same-height-subgrid-container class="grcDbi36Ub gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvHhYVBR1x gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g6gxPeFUnW"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1759412469003 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6gxPeFUnW"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586978430721983033-53edfea3-caec-44ef-9f9a-e53bc4d8bdfb.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxMTE3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTExMTciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMTExNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxMTE3IiBmaWxsPSJ1cmwoI2ctMTgwMC0xMTE3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586978430721983033-53edfea3-caec-44ef-9f9a-e53bc4d8bdfb.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxMTE3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTExMTciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMTExNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxMTE3IiBmaWxsPSJ1cmwoI2ctMTgwMC0xMTE3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586978430721983033-53edfea3-caec-44ef-9f9a-e53bc4d8bdfb.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxMTE3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTExMTciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMTExNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxMTE3IiBmaWxsPSJ1cmwoI2ctMTgwMC0xMTE3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586978430721983033-53edfea3-caec-44ef-9f9a-e53bc4d8bdfb.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnUc93A5XaFWruCVM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893A5XaFWru.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-587005476080714602 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j2mehc-uj/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=587004589958497259&sectionId=587005476080714602)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJkm9f-3aX_text","label":"ggJkm9f-3aX_text","default":"<strong>Ne laissez pas la chute de cheveux&nbsp;</strong><br><strong>vous priver de votre confiance.</strong>"},{"type":"html","id":"ggGOVAaE8Ly_text","label":"ggGOVAaE8Ly_text","default":"<p><span style=\"font-size:24px;\"><strong>Vous n’êtes pas seul.</strong></span></p><p><br>86 % des hommes sont confrontés à la frustration des cheveux clairsemés, d’une ligne frontale qui&nbsp;</p><p>recule et de zones dégarnies embarrassantes, parfois dès la fin de la vingtaine…</p><p>&nbsp;</p><p>…Cette angoisse quotidienne de voir sa ligne de cheveux reculer dans le miroir, de se sentir mal à l’aise face aux mèches&nbsp;</p><p>qui s’affinent et au cuir chevelu de plus en plus visible, et d’observer jour après jour la perte de volume et de densité.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  