
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586980934654362474.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-586980934654362474.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-586980934654362474.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586980934654362474.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-586980934654362474.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586980934654362474.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586980934654362474.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586980934654362474.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-586980934654362474.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586980934654362474.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586980934654362474.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586980934654362474.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586980934654362474.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-586980934654362474.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586980934654362474.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-586980934654362474.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586980934654362474.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586980934654362474.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-586980934654362474.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586980934654362474.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-586980934654362474.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586980934654362474.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-586980934654362474.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586980934654362474.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586980934654362474.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-586980934654362474.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586980934654362474.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-586980934654362474.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586980934654362474.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-586980934654362474.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586980934654362474.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586980934654362474.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586980934654362474.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586980934654362474.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586980934654362474.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586980934654362474.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586980934654362474.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586980934654362474.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586980934654362474.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586980934654362474.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586980934654362474.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586980934654362474.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586980934654362474.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586980934654362474.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586980934654362474.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586980934654362474.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586980934654362474.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-586980934654362474.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-586980934654362474.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586980934654362474.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586980934654362474.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586980934654362474.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586980934654362474.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586980934654362474.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586980934654362474.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586980934654362474.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586980934654362474.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-586980934654362474.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586980934654362474.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586980934654362474.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586980934654362474.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586980934654362474.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586980934654362474.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586980934654362474.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-586980934654362474.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586980934654362474.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586980934654362474.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586980934654362474.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586980934654362474.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-586980934654362474.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-586980934654362474.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586980934654362474.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586980934654362474.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586980934654362474.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586980934654362474.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-586980934654362474.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586980934654362474.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586980934654362474.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-586980934654362474.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-586980934654362474.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586980934654362474.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586980934654362474.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586980934654362474.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586980934654362474.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586980934654362474.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-586980934654362474.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-586980934654362474.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-586980934654362474.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586980934654362474.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586980934654362474.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586980934654362474.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586980934654362474.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-586980934654362474.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-586980934654362474.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586980934654362474.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586980934654362474 .gp-relative{position:relative}.gps-586980934654362474 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586980934654362474 .gp-mb-0{margin-bottom:0}.gps-586980934654362474 .gp-inline-block{display:inline-block}.gps-586980934654362474 .gp-flex{display:flex}.gps-586980934654362474 .gp-inline-flex{display:inline-flex}.gps-586980934654362474 .gp-grid{display:grid}.gps-586980934654362474 .gp-contents{display:contents}.gps-586980934654362474 .\!gp-hidden{display:none!important}.gps-586980934654362474 .gp-hidden{display:none}.gps-586980934654362474 .gp-h-auto{height:auto}.gps-586980934654362474 .gp-h-full{height:100%}.gps-586980934654362474 .gp-w-full{width:100%}.gps-586980934654362474 .gp-max-w-full{max-width:100%}.gps-586980934654362474 .gp-flex-none{flex:none}.gps-586980934654362474 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586980934654362474 .gp-flex-col{flex-direction:column}.gps-586980934654362474 .gp-flex-wrap{flex-wrap:wrap}.gps-586980934654362474 .gp-items-center{align-items:center}.gps-586980934654362474 .gp-justify-center{justify-content:center}.gps-586980934654362474 .gp-overflow-hidden{overflow:hidden}.gps-586980934654362474 .gp-break-words{overflow-wrap:break-word}.gps-586980934654362474 .gp-leading-\[0\]{line-height:0}.gps-586980934654362474 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-586980934654362474 .gp-no-underline{text-decoration-line:none}.gps-586980934654362474 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586980934654362474 .gp-duration-200{transition-duration:.2s}.gps-586980934654362474 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586980934654362474 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-586980934654362474 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-586980934654362474 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-586980934654362474 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-586980934654362474 .tablet\:\!gp-hidden{display:none!important}.gps-586980934654362474 .tablet\:gp-hidden{display:none}.gps-586980934654362474 .tablet\:gp-h-auto{height:auto}.gps-586980934654362474 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-586980934654362474 .mobile\:\!gp-hidden{display:none!important}.gps-586980934654362474 .mobile\:gp-hidden{display:none}.gps-586980934654362474 .mobile\:gp-h-auto{height:auto}.gps-586980934654362474 .mobile\:gp-flex-none{flex:none}}.gps-586980934654362474 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-586980934654362474 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-586980934654362474 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-586980934654362474 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-586980934654362474 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-586980934654362474 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g4IPa8dFFh"}' data-id="g4IPa8dFFh" id="g4IPa8dFFh" data-same-height-subgrid-container class="g4IPa8dFFh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwrXrc-pdC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gomYBCj8YS"}' data-id="gomYBCj8YS" id="gomYBCj8YS" data-same-height-subgrid-container class="gomYBCj8YS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi6RxRioMH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcdS7UTPkJ"
        class="gcdS7UTPkJ"
        style="--ta:left;--mb:10px;--mb-tablet:10px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759405205278"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:33px;--size-tablet:46px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcdS7UTPkJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gNF1nVl49X"}' data-id="gNF1nVl49X" id="gNF1nVl49X" data-same-height-subgrid-container class="gNF1nVl49X gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:35px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gNPhLVwWH1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXyVM5CCvO"
      style="--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:25px;--pb-mobile:0px;--pr-mobile:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1759405205280 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXyVM5CCvO"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586978430721983033-17caddf8-c51e-41f2-b78c-a7aa1622d72e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586978430721983033-17caddf8-c51e-41f2-b78c-a7aa1622d72e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586978430721983033-17caddf8-c51e-41f2-b78c-a7aa1622d72e.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586978430721983033-17caddf8-c51e-41f2-b78c-a7aa1622d72e.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g824XuyMga gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gY4qI15E3A"}' data-id="gY4qI15E3A" id="gY4qI15E3A" data-same-height-subgrid-container class="gY4qI15E3A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:5px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:5px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:12px;--cg-mobile:6px;--rg-mobile:6px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdbmr1wrXw gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gILRfov8bO"  style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gSafhBmoko ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gB5dARqeLA" class="gp-leading-[0] gB5dARqeLA" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gB5dARqeLA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gB5dARqeLA " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#34B678;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:14px;--h:16px;--h-tablet:16px;--h-mobile:14px;--minw:16px;--minw-tablet:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gk90O-JnQj ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g2uiHJM4Y7" class="gp-leading-[0] g2uiHJM4Y7" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g2uiHJM4Y7" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2uiHJM4Y7 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#34B678;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gNFjbjLsel ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gX09M4fXNj" class="gp-leading-[0] gX09M4fXNj" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gX09M4fXNj" class="icon-wrapper gp-inline-flex gp-overflow-hidden gX09M4fXNj " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#34B678;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gq6A1mTObw ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gQXukW8X4Z" class="gp-leading-[0] gQXukW8X4Z" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gQXukW8X4Z" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQXukW8X4Z " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#34B678;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gJZz-P_bEX ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gY9RGjpecJ" class="gp-leading-[0] gY9RGjpecJ" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gY9RGjpecJ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gY9RGjpecJ " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#34B678;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gPQGKWYarc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCqAJ7ASSY"
        class="gCqAJ7ASSY"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759405205284"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCqAJ7ASSY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gCqAJ7ASSY">
        .gCqAJ7ASSY {

}
.gCqAJ7ASSY p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goeadkDeWT"
        class="goeadkDeWT"
        style="--ta:left;--mb:15px;--mb-tablet:15px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:25px;--pb-mobile:0px;--pr-mobile:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759405205285"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-heading, heading);--size:36px;--size-tablet:46px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoeadkDeWT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:25px;--pb-mobile:0px;--pr-mobile:25px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center;--ta-mobile:center" >
        <style>[data-id="gdpAOSG7-V"].gp-button-base::before, [data-id="gdpAOSG7-V-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gdpAOSG7-V"]:hover::before, [data-id="gdpAOSG7-V-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gdpAOSG7-V" dataId="gdpAOSG7-V" data-state="idle" aria-label="<p>ACHETER MAINTENANT</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--bg:#000000;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase"
          class="gdpAOSG7-V gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdpAOSG7-V_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLPwI4sCre"}' data-id="gLPwI4sCre" id="gLPwI4sCre" data-same-height-subgrid-container class="gLPwI4sCre gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:8px;--cg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3oGMUk817 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g-aZK52gf7" class="gp-leading-[0] g-aZK52gf7" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:12px;--ta:center">
      <div data-id="g-aZK52gf7" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-aZK52gf7 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:27px;--w-tablet:27px;--w-mobile:27px;--h:27px;--h-tablet:27px;--h-mobile:27px;--minw:27px;--minw-tablet:27px;--minw-mobile:27px;--height-desktop:27px;--height-tablet:27px;--height-mobile:27px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="516805478299206806" xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
<path d="M27.5003 10.5939L25.2495 5.50146C25.1707 5.32086 25.0411 5.167 24.8766 5.05853C24.7121 4.95007 24.5197 4.89165 24.3226 4.89036H18.8737L19.1996 1.94693C19.2157 1.80404 19.2013 1.65938 19.1574 1.52245C19.1135 1.38553 19.0411 1.25945 18.945 1.15251C18.8498 1.047 18.7335 0.962589 18.6037 0.904704C18.4739 0.84682 18.3335 0.816742 18.1913 0.816406H4.16673C3.89661 0.816406 3.63755 0.923711 3.44655 1.11472C3.25555 1.30572 3.14824 1.56478 3.14824 1.8349C3.14824 2.10502 3.25555 2.36407 3.44655 2.55508C3.63755 2.74608 3.89661 2.85339 4.16673 2.85339H9.25918C9.5293 2.85339 9.78836 2.96069 9.97936 3.15169C10.1704 3.3427 10.2777 3.60175 10.2777 3.87188C10.2777 4.142 10.1704 4.40105 9.97936 4.59206C9.78836 4.78306 9.5293 4.89036 9.25918 4.89036H2.12975C1.85963 4.89036 1.60058 4.99767 1.40957 5.18867C1.21857 5.37968 1.11126 5.63873 1.11126 5.90885C1.11126 6.17897 1.21857 6.43803 1.40957 6.62903C1.60058 6.82004 1.85963 6.92734 2.12975 6.92734H12.3146C12.5848 6.92734 12.8438 7.03465 13.0348 7.22565C13.2258 7.41666 13.3331 7.67571 13.3331 7.94583C13.3331 8.21595 13.2258 8.47501 13.0348 8.66601C12.8438 8.85702 12.5848 8.96432 12.3146 8.96432H5.18522C4.9151 8.96432 4.65604 9.07163 4.46504 9.26263C4.27404 9.45364 4.16673 9.71269 4.16673 9.98281C4.16673 10.2529 4.27404 10.512 4.46504 10.703C4.65604 10.894 4.9151 11.0013 5.18522 11.0013H9.25918C9.5293 11.0013 9.78836 11.1086 9.97936 11.2996C10.1704 11.4906 10.2777 11.7497 10.2777 12.0198C10.2777 12.2899 10.1704 12.549 9.97936 12.74C9.78836 12.931 9.5293 13.0383 9.25918 13.0383H1.11126C0.841143 13.0383 0.582086 13.1456 0.391082 13.3366C0.200078 13.5276 0.0927734 13.7867 0.0927734 14.0568C0.0927734 14.3269 0.200078 14.5859 0.391082 14.777C0.582086 14.968 0.841143 15.0753 1.11126 15.0753H3.14824C3.41836 15.0753 3.67742 15.1826 3.86842 15.3736C4.05943 15.5646 4.16673 15.8236 4.16673 16.0938C4.16673 16.3639 4.05943 16.6229 3.86842 16.8139C3.67742 17.0049 3.41836 17.1122 3.14824 17.1122H2.12975C1.85963 17.1122 1.60058 17.2195 1.40957 17.4105C1.21857 17.6016 1.11126 17.8606 1.11126 18.1307C1.11126 18.4009 1.21857 18.6599 1.40957 18.8509C1.60058 19.0419 1.85963 19.1492 2.12975 19.1492H5.03245C5.14243 19.5788 5.35174 19.9765 5.64354 20.3103C5.89081 20.5868 6.19381 20.8077 6.53261 20.9587C6.8714 21.1097 7.23832 21.1872 7.60923 21.1862C8.23687 21.1683 8.84524 20.9654 9.35801 20.603C9.87078 20.2406 10.2651 19.7349 10.4916 19.1492H18.2728C18.3828 19.5788 18.5921 19.9765 18.8839 20.3103C19.1312 20.5868 19.4342 20.8077 19.773 20.9587C20.1118 21.1097 20.4787 21.1872 20.8496 21.1862C21.4772 21.1683 22.0856 20.9654 22.5984 20.603C23.1111 20.2406 23.5055 19.7349 23.7319 19.1492H25.7689C26.0207 19.1507 26.2641 19.059 26.4522 18.8916C26.6403 18.7242 26.7597 18.493 26.7874 18.2428L27.5716 11.1133C27.5995 10.937 27.5747 10.7562 27.5003 10.5939ZM7.60923 19.1492C7.52477 19.1529 7.44058 19.1374 7.36297 19.1038C7.28536 19.0703 7.21634 19.0197 7.16109 18.9557C7.08114 18.8568 7.02265 18.7423 6.98933 18.6196C6.95602 18.4969 6.94861 18.3685 6.96758 18.2428C6.99359 17.9568 7.11705 17.6885 7.3173 17.4826C7.51754 17.2768 7.7824 17.1461 8.06755 17.1122C8.152 17.1086 8.23619 17.1241 8.3138 17.1576C8.39141 17.1911 8.46043 17.2418 8.51568 17.3058C8.59563 17.4047 8.65413 17.5191 8.68744 17.6419C8.72076 17.7646 8.72816 17.8929 8.7092 18.0187C8.68318 18.3047 8.55972 18.573 8.35948 18.7788C8.15924 18.9846 7.89437 19.1154 7.60923 19.1492ZM20.8496 19.1492C20.7651 19.1529 20.6809 19.1374 20.6033 19.1038C20.5257 19.0703 20.4567 19.0197 20.4015 18.9557C20.3215 18.8568 20.263 18.7423 20.2297 18.6196C20.1964 18.4969 20.189 18.3685 20.2079 18.2428C20.234 17.9568 20.3574 17.6885 20.5577 17.4826C20.7579 17.2768 21.0228 17.1461 21.3079 17.1122C21.3924 17.1086 21.4766 17.1241 21.5542 17.1576C21.6318 17.1911 21.7008 17.2418 21.756 17.3058C21.836 17.4047 21.8945 17.5191 21.9278 17.6419C21.9611 17.7646 21.9685 17.8929 21.9496 18.0187C21.9235 18.3047 21.8001 18.573 21.5998 18.7788C21.3996 18.9846 21.1347 19.1154 20.8496 19.1492ZM25.4328 12.0198H20.9311C20.7889 12.0195 20.6485 11.9894 20.5187 11.9315C20.3889 11.8736 20.2726 11.7892 20.1774 11.6837C20.0813 11.5767 20.0089 11.4507 19.965 11.3137C19.9211 11.1768 19.9067 11.0322 19.9228 10.8893L20.2589 7.8338C20.2889 7.58538 20.4093 7.3567 20.5972 7.1914C20.785 7.02609 21.0271 6.93572 21.2774 6.93753H23.6504L25.555 11.1643L25.4328 12.0198Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjQoFvVdgh"
        class="gjQoFvVdgh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759405205297"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjQoFvVdgh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gjQoFvVdgh">
        .gjQoFvVdgh {

}
.gjQoFvVdgh p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gWGRiA5gAh gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gLlbBVHHKK" class="gp-leading-[0] gLlbBVHHKK" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:12px;--ta:center">
      <div data-id="gLlbBVHHKK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gLlbBVHHKK " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:27px;--w-tablet:27px;--w-mobile:27px;--h:27px;--h-tablet:27px;--h-mobile:27px;--minw:27px;--minw-tablet:27px;--minw-mobile:27px;--height-desktop:27px;--height-tablet:27px;--height-mobile:27px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="516805501015557270" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
<path d="M15.3255 0.941428C14.9111 0.931115 14.4967 0.941427 14.0842 0.968615C11.4086 1.14393 8.88298 2.0083 6.65735 3.68268V2.80893C6.65548 2.29424 6.23829 1.87705 5.7236 1.87518C5.2061 1.8733 4.78423 2.29143 4.78235 2.80893V5.71518C4.78235 6.55049 5.78923 6.96768 6.38079 6.37987C10.7111 2.05049 17.5652 1.60143 22.4224 5.32893C27.2795 9.05643 28.6183 15.7914 25.5583 21.0939C22.4964 26.3964 15.9977 28.5996 10.3408 26.2558C4.68391 23.9121 1.64923 17.7611 3.23454 11.8474C3.36954 11.3467 3.07142 10.8321 2.56985 10.6989C2.0711 10.563 1.55642 10.8574 1.41954 11.3561C-0.404835 18.1661 3.10798 25.2939 9.62079 27.993C16.1336 30.6911 23.6542 28.1308 27.1792 22.0277C30.7042 15.9246 29.1592 8.13112 23.5661 3.84018C21.1192 1.96237 18.2242 1.00612 15.3255 0.941428ZM15.0039 5.4058C9.71548 5.4058 5.40392 9.7108 5.40392 14.9983C5.40392 20.2858 9.71642 24.5964 15.0039 24.5964C20.2914 24.5964 24.5945 20.2849 24.5945 14.9983C24.5945 9.71174 20.2914 5.4058 15.0039 5.4058ZM15.0039 9.10799C15.5214 9.10987 15.9395 9.53174 15.9377 10.0492V10.1936C16.8752 10.3211 17.6786 10.9024 18.1052 11.7114C18.3452 12.1699 18.168 12.7361 17.7086 12.9771C17.252 13.2171 16.6849 13.0408 16.443 12.5833C16.2752 12.2636 15.9508 12.0433 15.5495 12.0433H14.6777C14.102 12.0433 13.667 12.4783 13.667 13.0539C13.667 13.6296 14.102 14.0646 14.6777 14.0646H15.0039H15.0499H15.3283C16.9108 14.0646 18.2064 15.3686 18.2064 16.9502C18.2064 18.3236 17.2305 19.4824 15.9377 19.7664V19.953C15.9358 20.4677 15.5186 20.8849 15.0039 20.8867C14.4855 20.8896 14.0627 20.4714 14.0608 19.953V19.8067C13.1252 19.6774 12.3217 19.0999 11.8961 18.2927C11.6542 17.8352 11.8314 17.2661 12.2899 17.0252C12.7492 16.7833 13.3164 16.9614 13.5574 17.4208C13.7252 17.7405 14.0561 17.9589 14.4564 17.9589H15.3283C15.9049 17.9589 16.3314 17.5258 16.3314 16.9502C16.3314 16.3746 15.9049 15.9396 15.3283 15.9396H15.0039H14.6777C13.0952 15.9396 11.792 14.6355 11.792 13.0539C11.792 11.6842 12.7708 10.5264 14.0608 10.2396V10.0492C14.0589 9.52799 14.4817 9.10518 15.0039 9.10799Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP6A4D_7XX"
        class="gP6A4D_7XX"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759405205298"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP6A4D_7XX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gP6A4D_7XX">
        .gP6A4D_7XX {

}
.gP6A4D_7XX p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gm_AU8uixW gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gIIitADE09" class="gp-leading-[0] gIIitADE09" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:12px;--ta:center">
      <div data-id="gIIitADE09" class="icon-wrapper gp-inline-flex gp-overflow-hidden gIIitADE09 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:27px;--w-tablet:27px;--w-mobile:27px;--h:27px;--h-tablet:27px;--h-mobile:27px;--minw:27px;--minw-tablet:27px;--minw-mobile:27px;--height-desktop:27px;--height-tablet:27px;--height-mobile:27px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="516805525308966038" xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30" fill="none">
<path d="M6.91785 10.2634L20.324 3.09514L15.6648 0.75L1.8418 7.70807L6.91785 10.2634Z" fill="#242424"/>
<path d="M24.3964 5.14453L10.9902 12.3128L15.6658 14.6666L29.4888 7.708L24.3964 5.14453Z" fill="#242424"/>
<path d="M15.2843 15.332L10.5767 12.9625V18.1688L8.54102 16.1193H6.5053V10.913L1.41602 8.35156V22.2677L15.2843 29.2487V15.332Z" fill="#242424"/>
<path d="M16.0469 15.332V29.2487L29.9152 22.2677V8.35156L16.0469 15.332Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpXRT1iryK"
        class="gpXRT1iryK"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759405205299"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Funnel-Display, 'Funnel Display'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpXRT1iryK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gpXRT1iryK">
        .gpXRT1iryK {

}
.gpXRT1iryK p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnUc93A5XaFWruCVM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/funneldisplay/v3/B50bF7FGv37QNVWgE0ga--4PbZSRJXrOHcLHLoAYmmPnX893A5XaFWru.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-586980934654362474 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j2mehc-uj/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586978579686884202&sectionId=586980934654362474)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggcdS7UTPkJ_text","label":"ggcdS7UTPkJ_text","default":"DES CHEVEUX PARFAITS, UNE VIE MEILLEURE."},{"type":"html","id":"ggCqAJ7ASSY_text","label":"ggCqAJ7ASSY_text","default":"<p>+3,000 Hommes Conquis</p>"},{"type":"html","id":"ggoeadkDeWT_text","label":"ggoeadkDeWT_text","default":"ALPHALAB INFUSE."},{"type":"html","id":"ggdpAOSG7-V_label","label":"ggdpAOSG7-V_label","default":"<p>ACHETER MAINTENANT</p>"},{"type":"html","id":"ggjQoFvVdgh_text","label":"ggjQoFvVdgh_text","default":"<p>Free shipping&nbsp;</p>"},{"type":"html","id":"ggP6A4D_7XX_text","label":"ggP6A4D_7XX_text","default":"<p>Money-Back Guarantee</p>"},{"type":"html","id":"ggpXRT1iryK_text","label":"ggpXRT1iryK_text","default":"<p>Easy Returns and Exchanges</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  